.featured-breeds{
    width: 100%;
    max-height: 125px;
    display: flex;
    padding: 20px 20%;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 25px;
    flex-wrap: wrap;
    overflow:hidden
}

.featured-breed{
    width: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.featured-image{
    min-height: 60px;
    width:60px;
    border-radius: 3.5em;
}

.featured-cat-name{
    text-align: center;
}