.app-bar{
	width: 100%;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #c5baf9;
	color: #1e1b22;
	box-shadow: rgba(22, 22, 25, 0.4) 0px 3px 5px 0px;
}

.logo-name{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: left;
}

.cat-logo{
	max-width: 120px;
	color: #f2ebf2;
}

.breed-selector{
	width: 50%;
	display: flex;
	justify-content: right;
	padding-right: 20px;
}

.selector{
    min-width: 50%;
    height: 28px;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
}